<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
	<mat-sidenav
		#sidenav
		class="sidenav"
		[mode]="(isHandset$ | async) ? 'over' : 'side'"
		[fixedInViewport]="isHandset$ | async">
		<mat-nav-list class="!p-4">
			@for (routing of navigation; track $index) {
				<a mat-list-item [routerLink]="routing.path">
					<mat-icon matListItemIcon>{{ routing.icon }}</mat-icon>
					{{ routing.title }}
				</a>
			}
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content class="min-h-screen">
		<mat-toolbar class="flex justify-between">
			<div class="flex items-center">
				<button
					mat-icon-button
					*ngIf="isHandset$ | async"
					(click)="sidenav.toggle()">
					<mat-icon>menu</mat-icon>
				</button>

				<a mat-button [routerLink]="['/']">HOME</a>

				@if (!(isHandset$ | async)) {
					@for (routing of navigation; track $index) {
						<a mat-button [routerLink]="routing.path">
							<mat-icon matListItemIcon>{{ routing.icon }}</mat-icon>
							{{ routing.title }}
						</a>
					}
				}
			</div>

			<div class="flex items-center gap-2">
				<mat-slide-toggle
					#darkModeSwitch
					[checked]="currentTheme === 'dark'"
					data-toggle-theme="dark,light"
					data-act-class="ACTIVECLASS">
				</mat-slide-toggle>

				<button
					mat-icon-button
					aria-label="Account Info"
					[matMenuTriggerFor]="accountMenu">
					<mat-icon>person</mat-icon>
				</button>

				<mat-menu #accountMenu="matMenu" xPosition="before">
					<a mat-menu-item [routerLink]="['/dashboard']"
						><mat-icon>bar_chart</mat-icon>Dashboard</a
					>
					<a mat-menu-item [routerLink]="['/profile']"
						><mat-icon>person</mat-icon>Profile</a
					>
				</mat-menu>
			</div>
		</mat-toolbar>

		<div class="mx-auto max-w-[1080px]">
			<router-outlet />
		</div>
		<!-- </div> -->
	</mat-sidenav-content>
</mat-sidenav-container>
